{% extends "layout.html" %}

{% block content %}

<div class="container my-4">

    <!-- Flash messages - KEEP THIS BLOCK, it's correct -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1 class="fs-3 text">ImageIguana - Edit your Image online!</h1>

  <form method="POST"  action="{{ url_for('image.edit') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.file.label(class="form-label my-2") }}
        {{ form.file(class="form-control", id="formFile", onchange="previewImage(event)", accept=".jpg,.jpeg,.png,.gif,.webp") }}
        <img id="preview" src="#" alt="Image Preview" s
